In [2]:
import pandas as pd
import numpy

In [4]:
df = pd.read_json('data/marketing.json')

In [5]:
df.head()

                                                  data_set_description
id                                                               43407
name                     Advertising-Campaign-Analytics-Merkle-Sokrati
version                                                              1
description          Problem Statement\nThe following Data Analysis...
description_version                                                  2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, id to md5_checksum
Data columns (total 1 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   data_set_description  20 non-null     object
dtypes: object(1)
memory usage: 320.0+ bytes

In [ ]:
data = pd.read_csv('data/dataset_43488.json',skiprows=43)

In [9]:
data.head()

                                                  data_set_description
id                                                               43488
name                                                 Stock-Information
version                                                              1
description          Context\nInformation about more than 4600 comp...
description_version                                                  1

In [19]:
data = pd.read_csv('data/dataset_43488.csv',skiprows=14,error_bad_lines = Fals

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'